<header class="bg-primary text-white text-center py-4">
  <h1>商品一覧</h1>
  <p>必要な商品を一覧から選択してください。</p>
</header>
<div class="container text-center">
  <!-- タブとコンテンツの基本構造 -->
  <div class="tabs">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item"> <!-- (click) イベントを追加 --> <a class="nav-link active" id="section1-tab" data-bs-toggle="tab"
          href="#section1" role="tab" aria-controls="section1" aria-selected="true"
          (click)="selectTab($event, 'section1')">商品一覧</a> </li>
      <li class="nav-item"> <!-- (click) イベントを追加 --> <a class="nav-link" id="section2-tab" data-bs-toggle="tab"
          href="#section2" role="tab" aria-controls="section2" aria-selected="false"
          (click)="selectTab($event, 'section2')">カード</a> </li>
      <li class="nav-item"> <!-- (click) イベントを追加 --> <a class="nav-link" id="section3-tab" data-bs-toggle="tab"
          href="#section3" role="tab" aria-controls="section3" aria-selected="false"
          (click)="selectTab($event, 'section3')">セクション3</a> </li>
    </ul>
    <div class="tab-content">
      <div id="section1" class="tab-pane fade show active">
        <div class="row">
          <div class="col-12">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">詳細リンク</th>
                  <th scope="col">モーダル</th>
                  <th scope="col">商品名</th>
                  <th scope="col">説明</th>
                  <th scope="col">価格</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let product of products">
                  <th scope="row">
                    <a [routerLink]="['/products/detail', product._id]" class="btn btn-primary">Detail</a>
                  </th>
                  <td>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
                      表示
                    </button>
                  </td>
                  <td>{{ product.name }}</td>
                  <td>{{ product.description }}</td>
                  <td>{{ product.price }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div id="section2" class="tab-pane fade">
        <div class="row">
          <div class="col" *ngFor="let product of products">
            <div class="card" style="width:18rem;">
              <img src="{{ product.image }}" class="card-img-top" alt="..." />
              <a class="card-body" [routerLink]="['/products/detail', product._id]">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>