<div class="container text-center">
  <div class="row">
    <div class="col" *ngFor="let product of products">
      <div class="card">
        <img
          src="./assets/img/placeholder_612x612.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a [routerLink]="['/detail']" class="btn btn-primary">Detail</a>
        </div>
      </div>
    </div>
  </div>
</div>

