  <div class="container text-center">
    <div class="container mt-5" id="customer-info">
      <div class="row">
        <div class="col-md-6" id="customer-info">
          <div class="card mt-4">
            <div class="card-header"> 顧客情報 </div>
            <div class="card-body">
              <h5 class="card-title">名前: 山田 太郎</h5>
              <p class="card-text">メールアドレス: mail.com</p>
              <p class="card-text">電話番号: 03-1234-5678</p>
              <p class="card-text">住所: 東京都新宿区新宿1-1-1</p>
            </div>
          </div>
        </div>
        <div class="col-md-6" id="vehicle-info">
          <div class="card mt-4">
            <div class="card-header"> 車両情報 </div>
            <div class="card-body">
              <h5 class="card-title">メーカー: トヨタ</h5>
              <p class="card-text">モデル: プリウス</p>
              <p class="card-text">年式: 2021</p>
              <p class="card-text">車両番号: ABC-1234</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>